body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:20px;
    background-color: rgb(90, 15, 27);
    color:beige;
}

header,section,footer{
    background:#926d6d;
    padding: 15px;
    margin-bottom: 20px;
    border-radius:10px;
    box-shadow: 1 1 10px rgba(0,0,0,0,1);
}

/* Selector demo */

.selector-demo p{
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
}

.highlight{
    background-color: rgb(184, 161, 127);
}

#unique{
    background-color:rgb(68, 109, 95);
}

/* Colors and Backgrounds exapmle */
.color-box{
    width: 120px;
height: 80px;
color: rgb(255, 255, 255);
text-align: center;
line-height: 80px;
margin: 5px;
border-radius: 6px;
display: inline-block;
}

.red{background-color: red;}
.green{background-color: green;}
.gradient{
    background: linear-gradient(45deg,orange,pink);
}


/* BOX Models */
.box-model{
    width:200px;
    padding: 20px;
    border:5px solid black;
    margin: 20px;
    background-color:#355c41;
    text-align: center;
    
}

/* Layout using Flexbox */
.layout-demo{
    display:flex;
    gap: 10px;
}

.layout-demo .item{
    background-color: #919faf;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
}

/* Flexbox Example */
.flex-demo{
    display: flex;
    gap: 10px;
}
.flex-demo div{
    background: #d6bb4e;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    
}

/* Grid Example */
.grid-demo{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    gap: 10px;
}
.grid-demo div{
    background: #a5b4fc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Transform and Animations */

.transform-box{
    width: 120px;
    height: 120px;
    background: #60a5fa;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: transform .3s;
}

.transform-box:hover{
    transform: scale(1.1)rotate(5deg);
}

/* Navigation Bar  */
.navbar{
    display: flex;
    gap: 10px;
    background-color: #1e3a8a;
    padding: 10px;
    border-radius: 12px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.navbar a:hover{
    background-color: #4f685a;
}

footer{
    text-align: center;
    text-decoration: solid black;
    font-family:serif;
    font-size: large;
}